<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148922255977-b68q309qq72btu33opgm3cfrkkq7s671.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148922255977-b68q309qq72btu33opgm3cfrkkq7s671</string>
	<key>API_KEY</key>
	<string>AIzaSyDfBpayhfTubc1TAabEhiNQu6mSxnstuS0</string>
	<key>GCM_SENDER_ID</key>
	<string>148922255977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.academics</string>
	<key>PROJECT_ID</key>
	<string>finalacademics</string>
	<key>STORAGE_BUCKET</key>
	<string>finalacademics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148922255977:ios:b2688b02e74d764848b0f8</string>
</dict>
</plist>